<div class="card">

    <h2>Add Project</h2>
    {%for field in form%}
        <div class="form-group">
            <label for="name">{{field.label}}</label>
            {{field}}
            <div class="help-text">{{field.help_text}}</div>
            <div class="error-text">{{field.errors}}</div>
        </div>
    {%endfor%}

    <button class="save-btn">Save</button>
  </div>



  {% comment %} <div class="form-group">
    <label for="name">{{form.description.label}}</label>
    {{form.description}}
    <div class="help-text">{{form.description.help_text}}</div>
    <div class="error-text">{{form.description.errors}}</div>
</div> {% endcomment %}