<div class="little_card" 
  {% if type == "check" %}
    style="background-color: {% if value <= 0 %}#AD102F{% else %}#0B6623{% endif %};"
  {% else %}
  style="background-color: {% if clr == "green" %}#0B6623{% elif clr == "red" %}#AD102F{% endif %};"
  {% endif %}>

    <h3>{{title}}</h3>
    <p class="amount" 
    {% if type == "check" %}
    style="color: #FFFFFF;"
    {% else %}
    style="color: {% if clr == "green" %}#FFFFFF{% elif clr == "red" %}#FFFFFF {% else %}#000000 {% endif %};"
    {% endif %}>
      {{ value }}
    </p>
</div>


  {% comment %} <div class="form-group">
    <label for="name">{{form.description.label}}</label>
    {{form.description}}
    <div class="help-text">{{form.description.help_text}}</div>
    <div class="error-text">{{form.description.errors}}</div>
</div> {% endcomment %}