{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href={% static "dash/one_style.css" %}>
    <link rel="stylesheet" href="{% static "dash/little_card_style.css" %}">
{% endblock head %}
{% block body %}
<div class="one">
    <div class="upper">
        <div class="upper_section">
        <h2 class="upper_text">{{upper_text}}</h2>
            <div class="upper_select">
                <form action="{% url "dash:transactions" %}" method='GET'>

                    <button class="upper_btn" {% if view == "all" %} style="background: #59a2f0;" {%endif%} >All</button></form>
                <form action="{% url "dash:trans_spend" %}" method='GET'>
                    <button class="upper_btn" {% if view == "exp" %} style="background: #59a2f0;" {%endif%}>Spend</button></form>
                <form action="{% url "dash:trans_advance" %}" method='GET'>
                    <button class="upper_btn"{% if view == "adv" %} style="background: #59a2f0;" {%endif%}>Advance</button></form>
            </div>
        </div>
    </div>
    
    <div class="info">
        {% include "dash/includes/little_card.html" with title="Total Transactions" value=total_trans %}

        {% include "dash/includes/little_card.html" with title="Advance Left" value=project.advance_total type="check" %}
        {% include "dash/includes/little_card.html" with title=" Total Advance" value=project.lifetime_advance type="check" %}

        {% include "dash/includes/little_card.html" with title="Buy" value=project.buy_total clr="red" %}
        {% include "dash/includes/little_card.html" with title="Sell" value=project.sell_total clr="red" %}
        {% include "dash/includes/little_card.html" with title="Profit" value=project.profit_total type="check" %}


    </div> 
</div>

{% endblock body %}