{% extends "base.html" %}
{% load static %}

{% block title %}Projects -{{view}}{% endblock title %}

{% block head %}
    <link rel="stylesheet" href={% static "dash/add_card_style.css" %}>
{% endblock head %}

{% block body %}

{% if view == "add" %}
<div class="add_section">
  {% comment %} {% include "dash/includes/add_card.html" %} {% endcomment %}
  <form action="" method="POST">
    <table>
    <br><br>
    {% csrf_token %}
  {{form.as_table}}
  </table>
  <button type="submit">Save</button>
</form>
</div>
{% endif %}

{% if view == "all" %}
<div class="project_section"> 
    <div class="projects">
        <div class="upper">
            <h3 class="upper_title">Projects</h3> 
            <form action={% url "dash:projects" 'add' %}>
                <button type="submit">+</button>
              </form>
        </div> 

        <div class="all_cards">
            {% for p in all_pro|slice:"-1:0" %} 
            <br><br>
                {% include "dash/includes/card.html" %}
            {%endfor%}
        </div>
    </div>
</div>
{% endif %}


{% endblock body %}